.content-list{
  position: relative;
  padding-bottom: 70px;
  z-index: 1;
  padding-left: 16vw;
  @media #{$tablet} {
    padding-left: 0;
  }
  @media #{$phone} {
    padding-bottom: 50px;
  }
  &:before{
    content:"";
    display: block;
    width: 576px;
    height: 679px;
    position: absolute;
    left:0;
    top: -50px;
    background: url('images/gradient-style2.png') no-repeat 0 0;
    background-size: cover;
    z-index: -1;
    @media #{$phone} {
      width: 576px;
      height: 679px;
      left: -220px;
      top: -160px;
    }
  }
  &:after{
    content:"";
    display: block;
    width: 380px;
    height: 525px;
    position: absolute;
    right:0;
    bottom: -120px;
    background: url('images/gradient-style1.png') no-repeat 0 0;
    background-size: cover;
    z-index: -1;
    @media #{$phone} {
      right: -50px;
      bottom: -290px;
    }
  }
  .container{
    max-width: 1024px;
    margin: 0;
  }
}
.content-list__item{
  position: relative;
  padding: 68px 0 90px;
  display: flex;
  flex-wrap: wrap;
  @media #{$phone} {
    padding: 65px 0;
    margin-bottom: 15px;
  }
  &:before{
     content: "";
     width: 100%;
     height: 1px;
     background: rgb(204,204,204);
     position: absolute;
     left: 0;
     top: 0;
     background: rgb(204,204,204); /* Old browsers */
     background: -moz-linear-gradient(left, rgba(204,204,204,1) 14%, rgba(25,247,193,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(left, rgba(204,204,204,1) 14%,rgba(25,247,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to right, rgba(204,204,204,1) 14%,rgba(25,247,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#19f7c1',GradientType=1 );
   }
  &:last-child:after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(204,204,204);
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(204,204,204,1) 14%, rgba(25,247,193,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,204,204,1) 14%,rgba(25,247,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,204,204,1) 14%,rgba(25,247,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#19f7c1',GradientType=1 );
  }
}
.content-list__title{
  width: 34%;
  padding-right: 20px;
  @include fsz(40px);
  @media #{$phone} {
    width: 100%;
    margin-bottom: 35px;
    @include fsz(38px);
    padding-right: 0;
  }
}
.content-list__description{
  width: 66%;
  padding-top: 18px;
  @include fsz(18px);
  @media #{$phone} {
    width: 100%;
    padding-top: 0;
  }
  .entry-content{
    max-width: 564px;
  }
  h3{
    @include fsz(18px);
    margin-bottom: 10px;
    font-family: $primary-family-bold;
  }
  ul{
    column-count: 2;
    padding-left: 0;
    @media #{$phone-small} {
      @include fsz(15px);
      padding-top: 15px;
    }
    li{
      list-style: none;
      position: relative;
      padding-left: 0;
      @media #{$phone-small} {
        margin-bottom: 2px;
      }
      &:before{
        content:"–";
        color: #979797;
        padding-right: 22px;
        @media #{$phone-small} {
          padding-right: 12px;
        }
      }
    }
  }
}
.content-list--alt{
  padding-bottom: 30px;
  &:before,
  &:after{
    display: none;
  }
  .content-list__item{
    &:last-child:after{
        display: none;
      }
    }
}
.content-list__column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-list__column-item{
  width: 46%;
  @include fsz(15px);
  margin-bottom: 56px;
  line-height: 1.4;
  @media #{$phone-small} {
    width: 100%;
    margin-bottom: 40px;
    @include fsz(18px);
  }
  &:nth-last-child(2),
  &:last-child{
    margin-bottom: 0;
    @media #{$phone-small} {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}
.careers-list{
  margin-top: -20px;
  a{
    color:$white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include fsz(18px);
    border-bottom: 1px solid $white;
    padding: 18px 0;
    &:hover,
    &:focus{
      border-bottom-color: $brand-color;
    }
  }
}
.careers-list__item-title{
  font-family: $primary-family-bold;
  width: 57%;
}
.careers-list__item-location{
  width: 40%;
  @media #{$phone-small} {
    text-align: right;
  }
}