.floating-cards {
  padding: 85px 0;

  @media #{$phone} {
    padding: 8px 0 30px;
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: 985px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media #{$phone} {
      justify-content: flex-start;
    }
  }

  .floating-cards__lead-text {
    @include fsz(12px);
    letter-spacing: 2.5px;
    line-height: 1.33;
    font-weight: 800;
    font-family: $primary-family-extra-bold;
    color: #979797;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
    width: 100%;

    @media #{$phone} {
      margin-bottom: 10px;
    }
  }

  .floating-cards__icon {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6px;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .floating-cards__title {
    @include fsz(132px);
    font-family: $primary-family-extra-bold;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 0.91;
    color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    width: 100%;
    @media #{$laptop} {
      @include fsz(100px);
    }
    @media #{$small-screen} {
      @include fsz(72px);
    }

    @media #{$phone} {
      @include fsz(40px);
      letter-spacing: -0.5px;
      margin-bottom: 67px;
    }

    span {
      display: inline-block;
      vertical-align: top;
      letter-spacing: inherit;
      line-height: inherit;
      font-family: inherit;
      white-space: pre;
      flex: none;
      margin-right: inherit;
    }
  }

  .floating-cards___items {
    max-width: 504px;
    width: 100%;
    padding-bottom: 24px;
    margin: -25px -12px 0;

    &.floating-cards___items--large {

      @media #{$phone} {
        margin: 0 -13px;
        width: auto;
        max-width: 368px;
      }

      @media screen and (max-width: 389px) {
        max-width: 338px;
      }

      .floating-cards__item {
        @media #{$phone} {
          width: 50%;
          padding: 0 13px;
          float: left;
          margin-bottom: 26px;
        }

        &:nth-child(even) {
          @media #{$phone} {
            float: right;
          }
        }

        &:nth-child(2) {
          @media #{$phone} {
            padding-top: 90px;
          }
        }

        .floating-cards__card {
          @media #{$phone} {
            height: 156px;
            width: 156px;
            padding: 12px 20px;
          }

          @media screen and (max-width: 389px) {
            height: 144px;
            width: 144px;
          }
        }

        .floating-cards__heading {
          @media #{$phone} {
            text-align: center;
            @include fsz(90px);
            margin-bottom: 5px;
          }
        }
      }
    }

    &.floating-cards___items--small {
      @media #{$phone} {
        margin: 0 -13px;
        width: auto;
        max-width: inherit;
      }


      .floating-cards__item {

        @media #{$phone} {
          width: 33.33%;
          padding: 0 13px;
          margin-bottom: 0;
        }

        @media #{$phone-small} {
          width: 50%;
          padding: 0 13px;
          margin-bottom: 0;
        }

        &:nth-child(3n + 1) {
          @media #{$phone} {
            padding-top: 36px;
          }
          @media #{$phone-small} {
            padding-top: 0;
          }
        }

        &:nth-child(3n + 2) {
          @media #{$phone} {
            padding-top: 0;
          }
        }

        &:nth-child(3n + 3) {
          @media #{$phone} {
            padding-top: 36px;
          }
          @media #{$phone-small} {
            padding-top: 0;
          }
        }
        &:first-child {
          @media #{$phone-small} {
            margin-top: 0;
          }
        }
        &:nth-child(2n + 1) {
          @media #{$phone-small} {
            margin-top: -24px;
          }
        }

        .floating-cards__card {
          @media #{$phone} {
            min-height: 90px;
            width: 90px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 23px 0 18px;
          }
          @media #{$phone-small} {
            min-height: 145px;
            width: auto;
            margin-bottom: 24px;
          }
        }

        .floating-cards__icon {
          @media #{$phone} {
            max-width: 30px;
            max-height: 30px;
            margin-bottom: 7px;
          }
        }

        .floating-cards__heading-name {
          @media #{$phone} {
            margin-left: 0;
          }
        }
      }
    }
  }

  .floating-cards__item {
    width: 33.33%;
    padding: 0 12px;
    float: left;
    margin-bottom: -24px;


    &:nth-child(3n + 2) {
      padding-top: 24px;

      .floating-cards__heading {
        font-family: $secondary-family-book;
        font-weight: normal;
      }
    }

    &:nth-child(3n + 3) {
      padding-top: 48px;

      .floating-cards__heading {
        font-family: $secondary-family-light;
        font-weight: 300;
      }
    }

  }

  .floating-cards__card {
    background-color: $white;
    box-shadow: 0 4px 36px -16px rgba(0, 0, 0, 0.25);
    padding: 23px 19px 18px 18px;
    height: 144px;
    width: 144px;
  }

  .floating-cards__heading {
    @include fsz(80px);
    font-family: $secondary-family-bold;
    font-weight: bold;
    color: #1c1c1c;
    text-transform: capitalize;
    letter-spacing: -2px;
    margin-right: -2px;
    margin-bottom: -8px;
  }

  .floating-cards__heading-name {
    @include fsz(12px);
    font-family: $primary-family-extra-bold;
    font-weight: 800;
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 0;
    margin-left: 6px;
    line-height: 1.33;

  }

}