@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/fonts';
@import '../../styles/definitions/colors';

.navigation__anchor {
  color: $primary;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    left: auto;
    width: 0;
    border-top: 1px solid $brand-color;
    -webkit-transition: all 0.25s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.25s cubic-bezier(0.77, 0, 0.175, 1);
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      right: auto;
      width: 100%;
      left: 0;
      border-top: 1px solid $brand-color;
      bottom: -4px;
      @media #{$phone} {
        bottom: 4px;
      }
    }
  }
}

a.active {
  @include font_loader($primary-family, 9, 'normal');
  &:before {
    right: auto;
    width: 100%;
    left: 0;
    border-top: 1px solid $brand-color;
    bottom: -4px;
    @media #{$phone} {
      display: none;
    }
  }
}
