@use "sass:math";

// desktop grid
$grid-desktop-columns: 12;
$grid-desktop-sideMargin: $gutter_desktop;
$grid-desktop-gutter: $gutter;
$grid-desktop-breakpoint: $laptop-width;

// tablet grid
$grid-tablet-columns: 12;
$grid-tablet-sideMargin: $gutter_desktop;
$grid-tablet-gutter: $gutter;
$grid-tablet-breakpoint: $tablet-width;

// mobile grid
$grid-mobile-columns: 12;
$grid-mobile-sideMargin: $gutter_desktop;
$grid-mobile-gutter: $gutter;
$grid-mobile-breakpoint: $phone-width;

// pixels to % variables
$desk-grid-width: 100% -
  (math.div($grid-desktop-sideMargin * 2, $grid-desktop-breakpoint) * 100%);
$tab-grid-width: 100% -
  (math.div($grid-tablet-sideMargin * 2, $grid-tablet-breakpoint) * 100%);
$mob-grid-width: 100% -
  (math.div($grid-mobile-sideMargin * 2, $grid-mobile-breakpoint) * 100%);

$desk-gutter: (
  (
      math.div($grid-desktop-gutter,
        ($grid-desktop-breakpoint - ($grid-desktop-sideMargin * 2)))
    ) * 100%
);
$tab-gutter: (
  (
      math.div($grid-tablet-gutter,
        ($grid-tablet-breakpoint - ($grid-tablet-sideMargin * 2)))
    ) * 100%
);
$mob-gutter: (
  (
      math.div($grid-mobile-gutter,
        ($grid-mobile-breakpoint - ($grid-mobile-sideMargin * 2)))
    ) * 100%
);

// FUNCTIONS AND MiXINS
@function col-width($i, $columns) {
  @return math.div(100%, $columns) * $i;
}

@mixin col-props($i, $columns, $gutter) {
  box-sizing: border-box;
  width: col-width($i, $columns);
  padding-left: math.div($gutter, 2);
  padding-right: math.div($gutter, 2);
}

@mixin columns-loop($name, $columns, $gutter) {
  @for $i from 0 through $columns {
    &-#{$name}-#{$i} {
      @include col-props($i, $columns, $gutter);
    }
    &-#{$name}-shift-#{$i} {
      margin-left: col-width($i, $columns);
    }
  }
}

.col {
  @include columns-loop(lg, $grid-desktop-columns, $desk-gutter);
  @media screen and (max-width: $grid-tablet-breakpoint) {
    @include columns-loop(md, $grid-tablet-columns, $tab-gutter);
  }
  @media screen and (max-width: $grid-mobile-breakpoint) {
    @include columns-loop(sm, $grid-mobile-columns, $mob-gutter);
  }
}
