@import "../../styles/definitions/breakpoints";
@import "../../styles/definitions/colors";

.blogIndex {
  padding-top: 144px;
  width: calc(100% + 144px);

  @media #{$tablet} {
    width: 100%;
  }
}