//FontSize
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin fsz($size) {
  // font-size: $size;
  font-size: calculateRem($size);
}

@mixin lh($size) {
  // line-height: $size;
  line-height: calculateRem($size);
}

@mixin letter-stroke($stroke-color,$color,$size) {
  @supports ((text-stroke: $size white) or (-webkit-text-stroke: $size white)) {
    color: $color;
    -webkit-text-stroke: $size $stroke-color;
    text-stroke: $size $stroke-color;
    text-shadow: none;
  }
}
