@import "../../../styles/definitions/breakpoints";

.root {
  max-width: $container;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0; // for this layout, the container should left align

  @media #{$tablet} {
    padding-left: 20px;
    padding-right: 20px;
  }
}