
.menuBar__container {
    width: 18px;
    height: 16px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 3px;
        background: $primary-color;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        .mobileNav__toggle--light &{
            background: $white;
        }
        .nav__visible .mobileNav__toggle--light &{
            background: $primary-color;
        }
    }
}

.menuBar__container span:nth-child(even) {
    left: calc(50% - 2px);
    border-radius: 50%;
}

.menuBar__container span:nth-child(odd) {
    left:0px;
    border-radius: 50%;
}
.menuBar__container span:nth-child(1), .menuBar__container span:nth-child(2), .menuBar__container span:nth-child(3) {
    top: 0px;
}
.menuBar__container span:nth-child(4), .menuBar__container span:nth-child(5), .menuBar__container span:nth-child(6) {
    top: calc(50% - 2px);
    .nav__visible &{
        display: none;
    }
}
.menuBar__container span:nth-child(7), .menuBar__container span:nth-child(8), .menuBar__container span:nth-child(9) {
    top: calc(100% - 4px);
    .nav__visible &{
        display: none;
    }
}
.menuBar__container span:nth-child(3) {
    left: calc(100% - 4px);
}

.menuBar__container span:nth-child(6) {
    left: calc(100% - 4px);
}

.menuBar__container span:nth-child(9) {
    left: calc(100% - 4px);
}
.nav__visible .menuBar__container span:nth-child(1) {
    width: 20px;
    transform: rotate(45deg);
    left: 1px;
    top: 7px;
    height: 2px;
    border-radius: 0;
}
.nav__visible .menuBar__container span:nth-child(3) {
    width: 20px;
    transform: rotate(-45deg);
    left: 1px;
    top: 7px;
    height: 2px;
    border-radius: 0;

}
.nav__visible .menuBar__container span:nth-child(2),
.nav__visible .menuBar__container span:nth-child(5),
.nav__visible .menuBar__container span:nth-child(6){
    opacity: 0;
}


menuBar__container.open span:nth-child(8) {
    top: 20px;
}
