@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.root {
  display: flex;
  a {
    margin: 0 4px;
    color: $primary;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.icon-instagram {
    height: 20px;
    width: 20px;
  }

  &.icon-twitter {
    width: 23px;
    height: 18px;
  }

  &.icon-facebook {
    height: 20px;
    width: 10px;
  }

  &.icon-dribble {
    height: 20px;
    width: 20px;
  }
}
