@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/fonts';
@import '../../styles/definitions/keyframes';

.navigation_container {
  @media #{$phone} {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $gray-light;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 15px;
    align-content: flex-start;
    overflow: auto;
    display: none;
  }

  &.navigation_container__mobile {
    @media #{$phone} {
      display: block;
      padding: 24px 24px 50px;
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.14);
      overflow: hidden;
    }
  }

  &__text {
    display: none;

    .navigation_container__mobile & {
      @media #{$phone} {
        display: block;
        width: 100%;
        @include fsz(12px);
        @include font_loader($primary-family, 9, 'normal');
        letter-spacing: 2.5px;
        color: $gray-dark;
        text-transform: uppercase;
        margin-bottom: 7px;
      }
    }
  }
}

.navigation__primary {
  position: relative;
  z-index: 1;

  li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0 15px;

    @media #{$phone} {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      @include fsz(60px);
      line-height: 1.4;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo__container {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 53px;

  @media #{$phone} {
    display: flex;
  }

  .logo__wrap svg {
    width: 100%;
  }
}

.mobile_orb_container {
  canvas {
    display: none;

    @media #{$phone} {
      display: block;
      top: 0;
      left: 0;
      transform: rotate(-180deg);
    }
  }
}
