@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.hero_block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 100px 0;
  position: relative;

  @media #{$phone} {
    min-height: inherit;
    padding-top: 170px;
  }

  @media #{$phone-small} {
    padding-bottom: 120px;
  }

  &__container {
    padding: 0;
    z-index: 2;
    margin: 0;
    max-width: 1420px;
    position: relative;
  }
}

.hero_block__orb_container {
  canvas {
    transform: rotate(-180deg);
  }
}

.hero_block__title {
  @include fsz(132px);
  line-height: 1;
  padding-left: 16vw;
  position: relative;
  z-index: 1;

  @media #{$desktop} {
    @include fsz(80px);
    max-width: 570px;
    margin: 0 auto 20px;
    padding-left: 0;
  }

  @media #{$phone} {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 86px;
    left: 0;
    display: block;
    height: 1px;
    width: 100vw;
    background-color: $gray-light;
    z-index: -1;

    @media #{$desktop} {
      left: -340px;
      bottom: 40px;
    }
  }

  span {
    margin-top: 7px;
    display: inline-block;
    @include fsz(210px);
    @include font_loader($primary-family, 9, 'normal');
    text-transform: uppercase;
    line-height: 1.03;
    letter-spacing: 2px;
    @include letter-stroke($black, transparent, 4px);
    position: relative;
    top: -18px;
    z-index: 1;

    @media #{$desktop} {
      font-size: 13vw;
    }

    @media #{$phone} {
      @include fsz(75px);
      @include letter-stroke($black, transparent, 2px);
      margin-top: 25px;
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      width: 130px;
      height: 130px;
      position: absolute;
      right: -88px;
      bottom: -62px;
      background: url(../../images/text-badge.svg) no-repeat 0 0;
      background-size: cover;
      z-index: 1;

      @media #{$phone} {
        bottom: -92px;
      }

      @media #{$phone-small} {
        right: 0;
        bottom: -208px;
      }
    }
  }
}

.hero_block__front_page {
  .container {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 840px;
      height: 766px;
      position: absolute;
      right: -510px;
      top: -110px;
      background: url(../../images/hero-graident.png) no-repeat 0 0;
      background-size: cover;
      z-index: 1;

      @media #{$desktop} {
        right: -380px;
        top: -260px;
      }

      @media #{$phone-small} {
        right: -470px;
        top: -260px;
      }
    }
  }

  &:after {
    content: 'Scroll';
    text-transform: uppercase;
    @include font_loader($primary-family, 8, 'normal');
    @include fsz(12px);
    letter-spacing: 2.5px;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    position: absolute;
    left: 60px;
    bottom: 30px;
    color: $gray-dark;

    @media #{$phone} {
      display: none;
    }
  }

  .hero_block__title {
    @media #{$phone} {
      @include fsz(60px);
      padding: 0 24px;
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 50px;
      left: 0;
      display: block;
      height: 1px;
      width: 100vw;
      background-color: $gray-light;
      z-index: -1;

      @media #{$desktop} {
        left: -340px;
        bottom: 40px;
      }

      @media #{$phone} {
        bottom: 30px;
      }
    }
  }

  .hero_block__mobile_title {
    display: none;
  }
}

.hero_block__careers {
  min-height: 600px;
  position: relative;
  overflow: initial;

  &:after {
    content: '';
    display: block;
    width: 1340px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../../images/careers-hero-lines.png) no-repeat 0 0;
    background-size: cover;
    z-index: 1;
  }

  @media #{$laptop} {
    &:after {
      content: none;
    }
  }

  @media #{$phone} {
    min-height: inherit;
    padding-bottom: 42px;
    padding-top: 160px;
  }

  .hero_block__container {
    padding-left: 16vw;
    @media #{$tablet} {
      max-width: 540px;
      padding-left: 24px;
      margin: 0 auto;
    }
  }

  .hero_block__title {
    padding-left: 0;
    max-width: inherit;

    @media #{$phone} {
      margin-bottom: 10px;
    }

    &:after {
      display: none;
    }
  }

  .hero_block__orb_container {
    canvas {
      transform: translateY(80px) rotate(0deg);
    }
  }
}

.hero_block__orb_container {
  canvas {
    @media #{$phone} {
      left: 0;
      top: -50%;
    }
  }
}

.hero_block__description {
  @include fsz(24px);
  @include font_loader($primary-family, 9, 'normal');
  max-width: 660px;
  line-height: 1.3;
}

.hero_block__mobile_title {
  display: none;

  @media #{$phone} {
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    @include fsz(60px);
    margin-bottom: 10px;
  }
  + .hero_block__title {
    @media #{$phone} {
      @include fsz(55px);
    }
  }
}

.hero_block__about {
  .hero_block__mobile_title {
    padding: 0 24px;
  }
  @media #{$phone} {
    .hero_block__title {
      @include fsz(24px);
      padding: 0 24px;
      display: block;
    }
  }
}
