@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

.action_close {
  color: $primary;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 9;
  background-color: transparent;
  outline: none;
  top: 50px;
  right: 60px;
  transition: fill 300ms ease;
  width: 16px;
  height: 16px;

  &:hover,
  &:focus {
    fill: $brand-color;
  }

  @media #{$phone} {
    display: none;
  }
}
