$fonts_path: "../fonts/";

/** Font faces must be defined separately from the SCSS font family variables,
* because we import the _fonts.scss definition file into our scss modules. This
* causes an issue because the $fonts_path is relative. Instead, this partial
* is only imported into the _base.scss file
**/
@font-face {
  font-family: 'Gilroy';
  src: url(#{$fonts_path}/Gilroy-Regular.woff2) format('woff2'),
  url(#{$fonts_path}/Gilroy-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Gilroy';
  src: url(#{$fonts_path}/Gilroy-Medium.woff2) format('woff2'),
  url(#{$fonts_path}/Gilroy-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(#{$fonts_path}/Gilroy-Bold.woff2) format('woff2'),
  url(#{$fonts_path}/Gilroy-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(#{$fonts_path}/Gilroy-Extrabold.woff2) format('woff2'),
  url(#{$fonts_path}/Gilroy-Extrabold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url(#{$fonts_path}/Gotham-Bold.woff2) format('woff2'),
  url(#{$fonts_path}/Gotham-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url(#{$fonts_path}/Gotham-Book.woff2) format('woff2'),
  url(#{$fonts_path}/Gotham-Book.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url(#{$fonts_path}/Gotham-Light.woff2) format('woff2'),
  url(#{$fonts_path}/Gotham-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
