@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.content_with_headline {
  padding-bottom: 57px;
  padding-left: 16vw;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  position: relative;

  @media #{$desktop} {
    margin: 0 auto 20px;
    padding-left: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  .content {
    h3 {
      margin-top: 1rem;
      font-size: 18px;
      margin-bottom: 20px;
    }

    ul {
      column-count: 2;
      column-gap: 20px;
    }
  }
}

.container {
  max-width: 1024px;
  margin: 0;
}
