@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.content_with_headline {
  padding-bottom: 57px;
  padding-left: 16vw;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  position: relative;

  @media #{$desktop} {
    margin: 0 auto 20px;
    padding-left: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  .content {
    padding-top: 1rem;

    @media #{$phone} {
      padding-top: 0;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      column-count: 2;
      column-gap: 20px;
    }

    &__two_columns {
      columns: 2;
      p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 4.5rem;
      }

      @media #{$phone} {
        columns: unset;
      }
    }
  }
}

.container {
  max-width: $container;
  margin: 0;
}
