@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.image_group {
  display: flex;
  padding-bottom: 130px;
  padding-top: 30px;
  position: relative;
  z-index: 2;
  margin: 0 -35px;
  
  @media #{$phone} {
    margin: 0;
    flex-wrap: wrap;
    padding-bottom: 70px;
  }

  .image_group__item_image {
    padding: 0 12px;
    z-index: 1;
    position: relative;
    @media #{$phone} {
      margin-bottom: 10px;
      max-width: calc(100vw - 30px);
    }
  }

  .image_group__item:not(:nth-child(2)) {
    padding-top: 50px;
    @media #{$phone} {
      padding-top: 0;
    }
  }
}
