@import '../styles/modifiers/text';
@import '../styles/definitions/mixins';
@import '../styles/definitions/colors';
@import '../styles/definitions/breakpoints';

.case_study_wrapper {
  background-color: $gray-lighter;
  position: relative;
  display: grid;
  grid-template-columns: 144px auto;
  grid-template-areas:
    'sidebar content content'
    'footer  footer  footer';
}

.content_wrapper {
  grid-area: content;
  z-index: 1;
}

.main {
  padding: 49px 84px;
  width: calc(100% - 144px);
}
