@import '../styles/modifiers/text';
@import '../styles/definitions/mixins';
@import '../styles/definitions/colors';
@import '../styles/definitions/breakpoints';

.drawer_wrapper {
  .content_wrapper {
    z-index: 10;
  }

  .page_wrapper {
    left: unset
  }
}

.core_layout {
  background-color: $gray-lighter;
  position: relative;
  display: grid;
  grid-template-columns: 144px auto;
  grid-template-areas:
    'sidebar content content'
    'footer  footer  footer';

  &__dark {
    background-color: $black;
    color: $white;
  }

  @media #{$laptop} {
    grid-template-columns: 0px auto;
  }
}

.content_wrapper {
  grid-area: content;
  z-index: 2;

  &__flair {
    border-left: 1px solid $gray-darker;
  }
}

.main {
  padding: 49px 84px;
  width: calc(100% - 144px);
}

.page_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  left: -144px;

  @media #{$laptop} {
    left: unset;
  }
  
  &__dark {
    background-color: $black;
    color: $white;
  }
}
