@import '../../styles/definitions/colors';

.divider {
  margin-bottom: 57px;
  width: 100%;
  height: 2px;
  &::before {
    content: '';
    background-image: linear-gradient(to right, $gray-dark, $green);
    height: 1px;
    display: block;
  }
}
