@import "../../styles/definitions/colors";
@import "../../styles/definitions/breakpoints";

.logo__large {
  margin-left: -20px;
  display: block;

  @media #{$tablet} {
    margin-left: -15px;
  }

  @media #{$phone} {
    margin-left: 0;
    max-width: 160px;
  }
}

.logo__small {
  display: none;
  max-width: 47px;
}

.logo__footer {
  margin-bottom: 60px;
  left: -17px;
  position: relative;

  @media #{$tablet} {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 60px;
  }

  @media #{$phone} {
    max-width: 337px;
    left: 0;
  }

  @media #{$phone-small} {
    max-width: 267px;
  }
}

.logo__gray:hover {
  path {
    stroke: $purple !important;
    animation-name: drawPurple;
  }
}

.logo__white {
  svg path:nth-of-type(1) {
    fill: $white;
    transition: fill 0.2s ease-in-out;
  }
  svg path:nth-of-type(2) {
    fill: $black;
  }
  &:hover svg path:nth-of-type(1) {
    fill: $green;
  }
}

.logo__case_study {
  svg path:nth-of-type(1) {
    fill: $black;
    transition: fill 0.2s ease-in-out;
  }
  svg path:nth-of-type(2) {
    fill: $white;
  }
  &:hover svg path:nth-of-type(1) {
    fill: $green;
  }
}

@keyframes drawGreen {
  from {
    fill: transparent;
    stroke-dashoffset: 280;
    stroke-width: 1;
  }

  to {
    fill: $green;
    stroke-dashoffset: 100;
    stroke-width: 0;
  }
}

@keyframes drawPurple {
  from {
    fill: transparent;
    stroke-dashoffset: 280;
    stroke-width: 1;
  }

  to {
    fill: $purple;
    stroke-dashoffset: 100;
    stroke-width: 0;
  }
}