@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

$transition: all 0.25s ease-in;

.blogExcerpt {
  border-top: 1px solid $gray;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: calc(144px + #{$gutter_desktop});
  padding-right: calc(144px + #{$gutter_desktop});
  transition: $transition;

  @media #{$laptop} {
    padding-left: 80px; 
    padding-right: 80px; 
  }

  @media #{$desktop} {
    padding-left: 40px; 
    padding-right: 40px; 
  }

  @media #{$tablet} {
    padding-left: 32px; 
    padding-right: 32px; 
  }
}

.blogExcerptH2 {
  font-weight: normal;
  margin-bottom: 0.35rem;
}

.blogLink {
  border-bottom: 1px solid transparent;
  color: $black;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0;
  transition: $transition;

  &:hover {
    border-bottom: 1px solid $green;
  }
}

.blur, .blur > * {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: $transition;
  @media #{$phone} {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  a {
    color: transparent;
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.imgWrap {
  transition: $transition;
}

.flexItem {
  flex: 0 0 50%;
}