@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

$transition: all 0.12s ease-in-out;

.blogExcerpt {
  border-top: 1px solid $gray;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: calc(144px + #{$gutter_desktop});
  padding-right: calc(144px + #{$gutter_desktop});
  width: 100%;

  @media #{$laptop} {
    padding-left: 80px; 
    padding-right: 80px; 
  }

  @media #{$desktop} {
    padding-left: 40px; 
    padding-right: 40px; 
  }

  @media #{$tablet} {
    padding-left: 32px; 
    padding-right: 32px; 
  }
}

h2 {
  transition: none !important;
}

.transition {
  transition: $transition;
}

.blogExcerptH2 {
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.35rem;
}

.blogExcerpt__date {
  font-weight: bold;
}

.blogLink {
  border-bottom: 1px solid transparent;
  color: $black;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0;

  &:hover {
    .blogExcerptH2 {
      border-bottom: 1px solid $green;
    }
  }
}

.blur, .blur > * {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @media #{$phone} {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  a {
    color: transparent;
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.imgWrap {
  margin-left: 1rem;
  transition: $transition;
  
  
  @media #{$phone} {
    display: none;
  }

}

.flexItem {
  flex: 0 0 50%;

  @media #{$phone} {
    flex: 0 0 100%;
  }
}