@import "../definitions/colors";
@import "../definitions/mixins";
@import "../definitions/fonts";
@import "../definitions/breakpoints";

@each $color-name, $color-variable in $colors {
  // Text Color
  .text_#{"" + $color-name} {
    color: $color-variable;
  }
}

.text_shadow {
  text-shadow: 0 0 30px $gray-darker;
}

.link_undecorated {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, .h1, h2, .h2,
h3, .h3, h4, .h4 {
  transition: all 0.25s ease-in-out;
}

h1, .h1 {
  @include font_loader($primary-family, 8, 'normal');
  @include fsz(60px);
  letter-spacing: -0.5px;
  line-height: .91;
  
  @media #{$laptop} {
    @include fsz(100px);
  }

  @media #{$small-screen} {
    @include fsz(72px);
  }

  @media #{$phone} {
    @include fsz(80px);
    margin-bottom: 8px;
  }
}

h2, .h2 {
  @include font_loader($primary-family, 8, 'normal');
  @include fsz(40px);
  letter-spacing: -0.5px;
  @media #{$tablet} {
    @include fsz(28px);
  }
  @media #{$phone} {
    font-size: 2.375rem;
    margin-bottom: calc(35px);
  }
}

h3, .h3 {
  @include font_loader($primary-family, 8, 'normal');
  @include fsz(24px)
}

h4, .h4 {
  @include font_loader($primary-family, 3, 'normal');
  @include fsz(21px);
}

h5, .h5 {
  @include font_loader($primary-family, 3, 'normal');
  @include fsz(16px);
}

h6, .h6 {
  @include font_loader($primary-family, 3, 'normal');
  @include fsz(14px);
}

.text-half-spaced {
  line-height: 1.5rem;
}