@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.root {
  padding: 24px 0;
  position: relative;
  z-index: 4;
  box-shadow: 0 2px 13px rgba($black, 0.14);
}

.branding {
  max-width: 300px;

  @media (max-width: 767px) {
    max-width: 65%;
    margin: 0 auto;
  }
}

.state__fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 16px 0;
  box-shadow: 0 2px 13px rgba($black, 0.14);
  background-color: $white;
  transition: 0.3s;

  @media #{$tablet} {
    padding: 10px 0;
  }
}
