@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/fonts';
@import '../../styles/definitions/colors';

.root {
  grid-area: sidebar;
  background-color: transparent;
  padding: 32px 36px 32px 60px;
  position: relative;
  z-index: 2;

  display: none;
}
