@import '../../styles/definitions/colors';

.action_close {
  width: 30px;
  height: 30px;
  background-color: $brand-color;
  display: block;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  color: $white;

  &:hover {
    background-color: $secondary;
  }

  & svg {
    fill: $white;
  }
}
