@import '../../styles/modifiers/animations';
@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';

.no_margin {
  margin-bottom: 0;
}

.floating_cards {
  padding: 85px 0;

  @media #{$phone} {
    padding: 50px 0 95px;
  }

  .container {
    max-width: 985px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media #{$phone} {
      justify-content: flex-start;
    }
  }

  &__lead_text {
    @include fsz(12px);
    letter-spacing: 2.5px;
    line-height: 1.33;
    font-weight: 800;
    font-family: $primary-family;
    color: #979797;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
    width: 100%;

    @media #{$phone} {
      margin-bottom: 10px;
    }
  }

  &__icon {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6px;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  &__title {
    @include fsz(132px);
    font-family: $primary-family;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 0.91;
    color: $primary;
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    width: 100%;
    @media #{$laptop} {
      @include fsz(100px);
    }
    @media #{$small-screen} {
      @include fsz(72px);
    }

    @media #{$phone} {
      @include fsz(40px);
      letter-spacing: -0.5px;
      margin-bottom: 30px;
    }

    span {
      display: inline-block;
      vertical-align: top;
      letter-spacing: inherit;
      line-height: inherit;
      font-family: inherit;
      white-space: pre;
      flex: none;
      margin-right: inherit;
    }
  }

  &___items {
    max-width: 504px;
    width: 100%;
    padding-bottom: 24px;
    margin: -25px -12px 0;

    &.floating_cards___items__large {
      @media #{$phone} {
        margin: 0 -13px;
        width: auto;
        max-width: 368px;
      }

      @media screen and (max-width: 389px) {
        max-width: 338px;
      }

      .floating_cards__item {
        @media #{$phone} {
          width: 50%;
          padding: 0 13px;
          float: left;
          margin-bottom: 26px;
        }

        &:nth-child(even) {
          @media #{$phone} {
            float: right;
          }
        }

        .floating_cards__card {
          @media #{$phone} {
            height: 156px;
            width: 156px;
            padding: 12px 20px;
          }

          @media screen and (max-width: 389px) {
            height: 144px;
            width: 144px;
          }
        }

        .floating_cards__heading {
          @media #{$phone} {
            text-align: center;
            @include fsz(90px);
            margin-bottom: 5px;
          }
        }
      }
    }

    &.floating_cards___items__small {
      @media #{$phone} {
        margin: 0 -13px;
        width: auto;
        max-width: inherit;
      }

      .floating_cards__item {
        @media #{$phone} {
          width: 33.33%;
          padding: 0 13px;
          margin-bottom: 0;
        }

        .floating_cards__card {
          @media #{$phone} {
            min-height: 90px;
            width: 90px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 23px 0 18px;
          }
        }

        .floating_cards__icon {
          @media #{$phone} {
            max-width: 30px;
            max-height: 30px;
            margin-bottom: 7px;
          }
        }

        .floating_cards__heading_name {
          @media #{$phone} {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__item {
    width: 33.33%;
    padding: 0 12px;
    float: left;
    margin-top: 24px;
    transition: 0.38s all ease-out;
  }

  &__card {
    background-color: $white;
    box-shadow: 0 4px 36px -16px rgba(0, 0, 0, 0.25);
    padding: 23px 19px 18px 18px;
    height: 144px;
    width: 144px;
  }

  &__heading {
    @include fsz(80px);
    font-family: $alt-family;
    font-weight: bold;
    color: #1c1c1c;
    text-transform: capitalize;
    letter-spacing: -2px;
    margin-right: -2px;
    margin-bottom: -8px;
  }

  &__heading_name {
    @include fsz(12px);
    font-family: $primary-family;
    font-weight: 800;
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 0;
    margin-left: 6px;
    line-height: 1.33;
  }
}

.type {
  &__gilroy_bold {
    font-family: $primary-family;
    font-weight: bold;
  }
  &__gilroy_book {
    font-family: $primary-family;
    font-weight: normal;
  }
  &__gilroy_light {
    font-family: $primary-family;
    font-weight: 300;
  }
  &__gotham_bold {
    font-family: $alt-family;
    font-weight: bold;
  }
  &__gotham_book {
    font-family: $alt-family;
    font-weight: normal;
  }
  &__gotham_light {
    font-family: $alt-family;
    font-weight: 300;
  }
}
