@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/fonts';

@keyframes marquee_animation {
  100% {
    transform: translateX(-3149.88px);
  }
}
.marquee_block {
  overflow: hidden;
  padding: 42px 0 67px;
  border-top: 1px solid $gray-light;
  position: relative;
  z-index: 3;
  background-color: #f2f2f2;
  @media #{$phone} {
    padding: 40px 0;
    border-top: none;
  }
}
.marquee_block__text {
  @include fsz(132px);
  letter-spacing: -2px;
  white-space: nowrap;
  position: relative;
  margin-bottom: 0;
  @media #{$header} {
    @include fsz(60px);
  }
}
.marquee_block__scroll {
  width: 100000px;
  transform: translateX(0px);
  animation: 20.6794s linear 0s infinite normal none running marquee_animation;
}
.marquee_block__inner {
  margin-right: 10px;
  float: left;
}
