@import "../../styles/definitions/breakpoints";
@import "../../styles/definitions/mixins";
@import "../../styles/definitions/fonts";
@import "../../styles/definitions/colors";

.clock {
  border: 2px solid $gray-dark;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.clock__wrap {
  color: $black;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}