@import '../../styles/modifiers/text';
@import '../../styles/definitions/mixins';
@import '../../styles/definitions/colors';
@import '../../styles/definitions/breakpoints';
@import '../../styles/modifiers/animations';

.drawer {
  padding: 165px 84px 223px;
  width: 100%;
  background-color: $white;
  @media #{$phone} {
    padding: 155px 24px 105px;
    width: 100%;
  }

  &__caseStudy {
    background-color: $gray-light;
  }
}


